{# src/MdL/BilletterieBundle/Resources/views/SelectBillet/index.html.twig #}
{% extends "MdLBilletterieBundle::layout.html.twig" %}

{% block mdlbilletterie_body %}
    <body class="container">
    <div class="row">
        <h1>Ticket's !</h1>
    </div>
    <div class="row">
        <button href="#" id="add_ticket" class="btn btn-default">Ajouter 1 billet</button>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="text-center">
                <h1 >Tarif =<span id="thePrice"></span></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">

        </div>
    </div>

{% endblock %}