{# src/MdL/BilletterieBundle/Resources/views/SelectBillet/index.html.twig #}
{% extends "MdLBilletterieBundle::layout.html.twig" %}

{% block mdlbilletterie_body %}

    <div class="well">
        <h2 class="text-center">Sélectionnez vos billets d'entrée pour le musée du Louvre</h2>
        <!--Formulaire Commande-->
        {{form(form)}}
        <!--Formulaire Billet-->
        {{ form_row(form.billets) }}
        <a href="#" id="add_billet" class="btn btn-default">Ajouter un billet</a>
    </div>

    <!--Gestion des ajouts de billets-->
    <script src="{{ asset('bundles/mdlbilletterie/js/jquery.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Récupération du « data-prototype ».
            var $container = $('div#mdl_billetteriebundle_commande_billets');

            // Définition du compteur unique pour nommer les champs ajouté dynamiquement
            var index = $container.find(':input').length;

            // Ajout nouveau champ / Clic d'ajout.
            $('#add_billet').click(function(e) {
                addBillet($container);

                e.preventDefault();
                return false;
            });

            // Ajout automatique du premier champs
            if (index == 0) {
                addBillet($container);
            } else {
                // Ajout du lien de suppression sur les billet existants
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // Fonction d'ajout formulaire BilletType
            function addBillet($container) {
                // Modification du contenu « data-prototype »:
                // label du champs => "__name__label__"
                // numéro de champs => "__name__"
                var template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Billet n°' + (index+1))
                        .replace(/__name__/g,        index)
                    ;

                // Création de l'objet JQ pour le template
                var $prototype = $(template);

                // Lien de suppression du billet
                addDeleteLink($prototype);

                // Ajout du nouveau prototype
                $container.append($prototype);

                // Incrémentation du compteur d'ajout
                index++;
            }

            // Fonction d'ajout du ien de suppression de billet
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour supprimer la catégorie
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>

{% endblock %}