{# src/MdL/BilletterieBundle/Resources/views/SelectBillet/index.html.twig #}
{% extends "MdLBilletterieBundle::layout.html.twig" %}

{% block mdlbilletterie_body %}
    <!--Entete de la page-->
    <div class="jumbotron" id="entete">
        <h1 class="text-center">Billetterie du musée du Louvre</h1>
    </div>

    <!--Formulaire de sélection des billets-->
    <div class="well">
        <h2 class="text-center">Sélectionnez vos billets d'entrée pour le musée du Louvre</h2>
        <!--Formulaire Commande-->
        {{form(form)}}
        <!--Formulaire Billet-->

        <a href="#" id="add_billet" class="btn btn-info">Ajouter un billet</a>
        {{ form_row(form.billets) }}
    </div>

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
    <script src="{{ asset('bundles/mdlbilletterie/js/SelectBillet.js') }}"></script>

{% endblock %}